@model CinemaConstructor.Models.FilmViewModels.FilmCreateViewModel

@{
    ViewData["Title"] = "New film";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-controller="Film" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>

        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control" rows="3" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Duration" class="col-md-2 control-label"></label>
        <div class="input-group col-md-10">
            <input asp-for="Duration" class="form-control" type="hidden" id="duration" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate" class="col-md-2 control-label"></label>
        <div class="input-group col-md-10">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                </span>
            </div>
            <input asp-for="ReleaseDate" type="text" class="form-control float-right" id="releaseDate">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PosterImage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <div class="input-group">
                <div class="custom-file">
                    <input asp-for="PosterImage" type="file" class="custom-file-input" id="inputFile">
                    <label id="uploadLabel" class="custom-file-label">Choose file</label>
                </div>
            </div>
            <span asp-validation-for="PosterImage" class="text-danger"></span>
            <img style="margin-top: 8px;" width="135" height="200" id="posterImage" alt="Poster" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="TrailerUrl" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="TrailerUrl" class="form-control" />
            <span asp-validation-for="TrailerUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>
</form>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/js/jquery.durationpicker.min.js"></script>
<link rel="stylesheet" type="text/css" src="/css/jquery.durationpicker.min.css" />
<script>
    $(function () {
        $('#releaseDate').datepicker();
    });
    $('#duration').durationPicker({
        showDays: false,
        showHours: true,
        showMins: true
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#posterImage').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $(function () {
        $("#inputFile").change(function () {
            document.getElementById('uploadLabel').innerHTML = this.files[0].name;
            readURL(this);
        });
    });
</script>