@model IEnumerable<CinemaConstructor.Models.Message>
<ol class="breadcrumb">
    @foreach (var message in Model)
    {
        if (Model.Last() == message)
        {
            <li class="breadcrumb-item active">@message.DisplayName</li>
        }
        else
        {
            <li class="breadcrumb-item"><a href="@message.URLPath"> @message.DisplayName</a></li>
        }
    }
</ol>