@model CinemaConstructor.Models.CompanyViewModels.EditViewModel
@{
    ViewData["Title"] = "Info editing";
}
<h2>@ViewData["Title"]</h2>
<hr />

<form id="ccSelectForm" asp-controller="Company" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InstagramLink" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="InstagramLink" class="form-control" />
            <span asp-validation-for="InstagramLink" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FacebookLink" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FacebookLink" class="form-control" />
            <span asp-validation-for="FacebookLink" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>