@model AdminPanel.Models.CinemaViewModels.CinemaAllViewModel

@{
    ViewData["Title"] = "Cinemas";
}


<div class="row mb-2">
    <div class="col-sm-6">
        <h2>Your cinemas</h2>
    </div>
    <div class="col-sm-6">
        <a href="/Cinema/Create" style="padding-left: 16px; padding-right: 16px;" class="btn btn-primary float-sm-right">
            Create new
        </a>
    </div>
</div>
<hr style="margin-top: 8px;"/>
Большой член